/* stylelint-disable-next-line */
$site-max-width: 1920px;
/* stylelint-disable-next-line */
$content-max-width: 1200px;

$color-black: #000;
$color-white: #fff;
$color-primary: #2c3d4f;
$color-dark-gray: #555;
$color-gray: gray;
$color-light-gray: #aca9a9;
$color-green: #6ec498;
$color-red: #e06d5b;
$color-blue: #2196F3;
$color-error: #ff0000;
